!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || "The Middleman"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='translucent-black')

    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    -# Stylesheets
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'grayscale'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'blog'
    = stylesheet_link_tag 'highlight-ruby'
  %body#page-top{class: current_page.data.body_class || 'page', "data-spy" => "scroll", "data-target" => ".navbar-custom"}
    %nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
            %i.fa.fa-bars
          %a.navbar-brand{href: "/"}
            = image_tag 'crowdworks-logo.png', height: 24
            %span.light エンジニアブログ
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            / Hidden li included to remove active class from about link when scrolled up past about section
            %li.hidden
              %a{href: "#page-top"}
            %li.page-scroll
              %a{href: "/#about"} 最新の投稿
            %li.page-scroll
              %a{href: "/#download"} カテゴリ
            %li.page-scroll
              %a{href: "/#contact"} アーカイブ
        / /.navbar-collapse
      / /.container
    %section.article-intro.container
      .row
        .col-md-8.col-md-offset-2.blog-article
          %p.article-date= current_article.date.strftime('%Y/%m/%d')
          %h1.article-title= current_article.data.title
          %div.author
            - if current_page.data.gravatar
              %img{class: 'author-gravatar gravatar', src: gravatar_for(current_page.data.gravatar)}
            - if current_page.data
              %p.author-name= current_page.data.author
    %section#body.article-body.container.content-section
      .row
        .col-lg-8.col-lg-offset-2
          = yield
    %section#download.content-section.text-center
      .download-section
        .container
          .col-lg-8.col-lg-offset-2
            %ul.list-inline.banner-social-buttons
              %li
                %a.btn.btn-default.btn-lg{href: "https://twitter.com/crowdworksjp"}
                  %i.fa.fa-twitter.fa-fw
                  %span.network-name Twitter
              %li
                %a.btn.btn-default.btn-lg{href: "https://github.com/crowdworks"}
                  %i.fa.fa-github.fa-fw
                  %span.network-name Github
              %li
                %a.btn.btn-default.btn-lg{href: "https://www.facebook.com/CrowdWorks"}
                  %i.fa.fa-facebook.fa-fw
                  %span.network-name Facebook
          .col-lg-8.col-lg-offset-2.copyright
            <div>©2014 CrowdWorks</div>
    -# Javascripts
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
    = javascript_include_tag 'application'
    = javascript_include_tag 'grayscale'

    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
