!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || "The Middleman"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='translucent-black')

    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    -# Stylesheets
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'blog'
    = stylesheet_link_tag 'highlight-ruby'
  %body#page-top{class: current_page.data.body_class || 'page', "data-spy" => "scroll", "data-target" => ".navbar-custom"}
    -# Facebook Like Button
    -# https://developers.facebook.com/docs/plugins/like-button
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    = partial "nav"
    = partial "title"
    %section.article-intro.container
      .row
        .col-md-8.col-md-offset-2.blog-article
          %p.article-date= current_article.date.strftime('%Y/%m/%d')
          %h1.article-title= current_article.data.title
    %section#body.article-body.container.content-section
      .row
        .col-md-8.col-md-offset-2
          %div.author
            - if current_page.data.gravatar
              %img{class: 'author-gravatar gravatar', src: gravatar_for(current_page.data.gravatar)}
          = yield
          %ul.article__body__share-buttons
            %li.article__body__share-buttons__share-button
              -# tweetボタン
              -# https://about.twitter.com/ja/resources/buttons#tweet
              %a.twitter-share-button{"data-hashtags" => "crowdworks", :href => "https://twitter.com/share"} Tweet
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            %li.article__body__share-buttons__share-button
              -# Facebook Like Button
              -# https://developers.facebook.com/docs/plugins/like-button
              .fb-like{"data-action" => "like", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "false"}
            %li.article__body__share-buttons__share-button
              -# はてぶボタン
              -# http://b.hatena.ne.jp/guide/bbutton
              %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "standard-balloon", :href => "http://b.hatena.ne.jp/entry/", :title => "このエントリーをはてなブックマークに追加"}
                %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "http://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border: none;", :width => "20"}/
              %script{:async => "async", :charset => "utf-8", :src => "http://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
            - if current_page.data.github_user
              %li.article__body__share-buttons__share-button
                -# GitHub Button
                -# http://ghbtns.com/
                %iframe{allowtransparency: "true", frameborder: "0", height: "20", scrolling: "0", src: "http://ghbtns.com/github-btn.html?user=#{current_page.data.github_user}&type=follow&count=true", width: "165"}
            %li.article__body__share-buttons__share-button
              .g-plusone{"data-size" => "medium"}
              :javascript
                window.___gcfg = {lang: 'ja'};

                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/platform.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
    %section.content-section.container
      .row
        .col-md-8.col-md-offset-2
          - related_articles = blog.
          -   tags.
          -   select { |t| (current_page.data.tags || []).include? t }.
          -   map { |tag, articles| articles }.
          -   flatten.
          -   reject { |a| a.title == current_page.title }
          - if related_articles.size > 0
            %h2.section-title
              関連する記事

            %ul.archive
              - related_articles.each do |article|
                %li.archive__article
                  %a{href: article.url}= article.title

          %h2.section-title
            最近の記事

          %ul.archive
            - recent_articles = blog.articles.sort_by {|a| - a.date.to_i }
            - recent_articles.each do |article|
              %li.archive__article
                %a{href: article.url}= article.title
    = partial "copyright"
    -# Javascripts
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
    = javascript_include_tag 'application'
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.10/d3.min.js"
    = javascript_include_tag "//cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"
    = javascript_include_tag "//cpettitt.github.io/project/graphlib-dot/latest/graphlib-dot.min.js"

    = yield_content :scripts

    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
