---
title: Middleman is Watching
body_class: index
pageable: true
per_page: 10
---

%h2.section-title 最新の投稿

- if paginate && num_pages > 1
  %p
    = "Page #{page_number} of #{num_pages}"
  - if prev_page
    %p= link_to 'Previous page', prev_page

- page_articles.each_with_index do |article, i|
  %section{class: 'summarized-article'}
    %p= "by #{article.data[:author] || 'Anonymous'} on #{article.date.strftime('%Y/%m/%d')}"
    %h3
      = link_to article.title, article
    = article.summary(100)

- if paginate
  - if next_page
    %p= link_to 'Next page', next_page

%h2.section-title カテゴリ

%ul
  - blog.tags.each do |tag, articles|
    %li.tag
      %a{href: tag_path(tag)}
        = tag

%h2.section-title アーカイブ

- blog.articles.group_by {|a| a.date.year }.each do |year, articles|
  %h3= year
  %ul.archive
    - articles.each do |article|
      %li.archive-article
        %a{href: article.url}= article.title
